# pip3 install torch torchvision torchaudio (for GPU with CUDA 12.1)
torch
anndata
liana
connectome
cellphonedb
matplotlib
muon
mofax
decoupler
tasks
numpy
omnipath
pandas
rdflib
scanpy
scprep
leidenalg
novosparc
altair

# pip install torch-sparse -f https://data.pyg.org/whl/torch-2.1.0+cu121.html (for GPU with CUDA 12.1)
torch-sparse
# pip install torch-scatter -f https://data.pyg.org/whl/torch-2.1.0+cu121.html (for GPU with CUDA 12.1)
torch-scatter
# pip install torch-cluster -f https://data.pyg.org/whl/torch-2.1.0+cu121.html (for GPU with CUDA 12.1)
torch-cluster

torch-geometric

# https://www.biorxiv.org/content/10.1101/2023.04.26.538432v2.full.pdf
# https://codeocean.com/capsule/8269062/tree/v4
# https://github.com/bhklab/GraphComm